.gmr__modify_informations {
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
}

.gmr__modify_informations input, .gmr__modify_informations textarea{
    background-color: #1A1A1A;
    min-width: 400px;
    max-width: 400px;
    width: 100%;
    border: none;
    border-radius: 10px;
    resize: none;
    padding: 15px;
    margin: 15px 0;
    color: white;
}

.gmr__modify_informations button {
    width: fit-content;
    padding: 10px 30px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    background-color: #1A1A1A;
    color: white;
}

.gmr__modify_informations button:hover {
    color: #FCFD05;
    cursor: pointer;
}