.gmr__my_account {
    margin-top: 100px;
}

.gmr__modify_informations {
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    overflow: hidden;
    animation: openAnimation 1s linear forwards;
  }

  @keyframes openAnimation {
    from {
        width: 0;
        opacity: 0;
    } to {
        width: 500px;
        opacity: 1;
    }
  }

.gmr__modify_informations input[type="text"], .gmr__modify_informations input[type="password"], .gmr__modify_informations textarea[type="text"] {
    background-color: #1A1A1A;
    min-width: 400px;
    max-width: 400px;
    width: 100%;
    border: none;
    border-radius: 10px;
    resize: none;
    padding: 15px;
    margin: 15px 0;
    color: white;
}

.gmr__modify_informations button {
    width: fit-content;
    padding: 10px 30px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    background-color: #1A1A1A;
    color: white;
}

.gmr__modify_informations button:hover {
    color: #FCFD05;
    cursor: pointer;
}

.gmr__account_updated {
    background-color: #282828;
    padding: 0 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.gmr__account_updated p {
    color: #FCFD05;
}

@media (max-width: 700px) {
    .gmr__modify_informations {
        max-width: calc(100% - 30px);
        margin-bottom: 30px;
    }

    .gmr__modify_informations > div {
        width: 100%;
    }


    .gmr__modify_informations input[type="text"], .gmr__modify_informations input[type="password"], .gmr__modify_informations textarea[type="text"] {
        min-width: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
}