.gmr__feed {
    display: flex;
    justify-content: space-between;
}


        /* LEFT ASIDE */

.gmr__left_aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;;
}

.gmr__banner {
    max-width: 100%;
}

.gmr__avatar_aside {
    margin-top: -50px;
    background-color: #1A1A1A;
    border-radius: 15px;
    width: 100px;
    object-fit: cover;
}