.gmr__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1A1A1A;
    position: fixed;
    width: calc(100% - 136px);
    z-index: 1000;
    padding: 0 30px;
    padding: 20px 30px 20px;
    top: -100%;
    animation: topSlideIn 1s forwards;
}

@keyframes topSlideIn {
    from {
        top: -100% ;
    }
    to {
        top: 0px;
    }
}

.gmr__header > div {
    width: 33%;
}

.gmr__header :nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.gmr__logo {
    width: 30px;
    height: 30px;
}

.gmr__header_menu, .gmr__header_account {
    display: flex;
    justify-content: center;
}

.gmr__header_menu i {
    margin: 0 10px;
    font-size: 30px;
}

.gmr__header_menu i:hover {
    color: #FCFD05;
    cursor: pointer;
}

.gmr__avatar {
    height: 30px;
    width: 30px;
    object-fit: cover;
    background-color: #1A1A1A;
    border-radius: 10px;
}


        /* Account Menu */


.gmr__header_account {
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #222222;
    border-radius: 10px;
    padding: 5px 20px;
}

.gmr__header_account > div {
    margin: 0 10px;
}

.gmr__dropdown {
    position: relative;
    display: inline-block;
}

.gmr__menu {
    z-index: 999;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
}

.gmr__dropdown:hover .gmr__menu {
    display: block;
}

.gmr__menu li {
    padding: 10px 0;
}

.gmr__menu ul {
    padding: 0 30px;
}

.gmr__menu .gmr__menu_link {
    color: white;
    text-decoration: underline;
}

.gmr__menu li:hover, .gmr__menu_link:hover {
    color: #FCFD05;
    cursor: pointer;
}