.gmr__form_field {
    width: 700px;
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
}

.gmr__form_field input, .gmr__form_field textarea {
    background-color: #1A1A1A;
    min-width: 400px;
    max-width: 600px;
    width: 100%;
    border: none;
    border-radius: 10px;
    resize: none;
    padding: 15px;
    margin: 15px 0;
    color: white;
}

.gmr__form_field .gmr__validate_button {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: #1A1A1A;
    color: white;
}

.gmr__form_field .gmr__validate_button:hover {
    color: #FCFD05;
    cursor: pointer;
}

.gmr__login_button {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #282828;
    border: none;
    color: white;
    margin: 30px 0;
}

.gmr__login_button:hover {
    cursor: pointer;
    color: #FCFD05;
}

.gmr__login_form {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s linear, opacity 0.5s linear;
}

.gmr__show_login {
    max-height: 500px;
    opacity: 1;
    transition-delay: 0.7s, 0.7s;
}

.gmr__register_form {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s linear, opacity 0.5s linear;
}

.gmr__show_register {
    max-height: 800px;
    opacity: 1;
    transition-delay: 0.7s, 0.7s;
}

@media (max-width: 700px) {
    .gmr__form_field {
        min-width: 250px;
        width: fit-content;
    }
    
    .gmr__form_field input, .gmr__form_field textarea {
        min-width: 0;
        width: 200px;
        max-width: 600px;
    }
}