.gmr__main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}


        /* LEFT ASIDE */

.gmr__left_aside {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #282828;
    border-radius: 10px;
    left: -100%;
    animation: leftSlideIn 1s forwards;
}

@keyframes leftSlideIn {
    from {
        left: -100% ;
    }
    to {
        left: 30px;
    }
}


.gmr__left_aside > div:nth-child(4) {
    padding: 0 15px;
}

.gmr__banner {
    width: 100%;
    max-height: 150px;
    border-radius: 10px 10px 0 0;
}

.gmr__follow_count {
    width: 100%;
    justify-content: space-evenly;
}

.gmr__aside_account_details {
    font-size: 20px;
    margin-bottom: -10px;
}

.gmr__avatar_aside {
    margin-top: -15px;
    background-color: #1A1A1A;
    border-radius: 10px;
    height: 80px;
    object-fit: cover;
}

        /* CREATE POST */

.gmr__create_post {
    width: 600px;
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    animation: createPostFadeIn 2s forwards;
}

@keyframes createPostFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.gmr__create_post .gmr__inline:nth-child(1) {
    align-items: flex-end;
}

.gmr__create_post .gmr__inline:nth-child(1) .gmr__column {
    width: calc(100% - 95px);
}


.gmr__avatar_feed {
    height: 50px;
    width: 50px;
    object-fit: cover;
    background-color: #1A1A1A;
    border-radius: 10px;
    margin-right: 15px;
}

.gmr__createpost_textarea {
    background-color: #1A1A1A;
    min-width: 400px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    resize: none;
    padding: 15px;
    color: white;
}

.gmr__create_post_buttons {
    margin: 15px 0 0 65px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gmr__post_input_add_image {
    background-color: #1A1A1A;
    width: 300px;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.gmr__add_media {
    padding: 10px 30px;
    border-radius: 10px;
    margin: 0 10px;
    background-color: #1A1A1A;
}

.gmr__add_media p {
    margin: 0 0 0 5px;
}

.fa-image {
    color: lightgreen;
}

.fa-play-circle {
    color: lightblue;
}

.gmr__publish {
    height: 45px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #1A1A1A;
    border: none;
    color: white;
}

.gmr__publish:hover, .gmr__add_media:hover p {
    cursor: pointer;
    color: #FCFD05;
}


        /* POST */


.gmr__post {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 20px 0;
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
    right: -100%;
    animation: rightSlideIn 0.5s forwards;
}

@keyframes rightSlideIn {
    from {
        right: -100% ;
    }
    to {
        right: 0;
        position: relative;
    }
}

.gmr__post_textarea {
    background-color: #1A1A1A;
    min-width: 370px;
    height: 30px;
    width: 100%;
    border: 0;
    border-radius: 10px 0 0 10px;
    resize: none;
    padding: 15px;
    color: white;
}

.gmr__pseudo, .gmr__post_name {
    margin: 0;
}

.gmr__post_name {
    font-size: 20px;
}

.gmr__update_post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmr__update_post button {
    margin: 25px 30px 10px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #1A1A1A;
    border: none;
    color: white;
}

.gmr__update_post button:hover {
    cursor: pointer;
    color: #FCFD05;
}


.gmr__update_post .fa-trash {
    margin: 25px 0 10px;
    color: #EC4134;
    font-size: 25px;
}

.gmr__update_post .fa-trash:hover {
    color: #FF0000;
    cursor: pointer;
}


.gmr__post_answer {
    margin-top: 15px;
    align-items: flex-end;
}

.gmr__post_answer form {
    display: flex;
    align-items: flex-end;
}

.gmr__post_answer > .gmr__column {
    margin: 0 0 7px 15px;
}

.gmr__post_answer .gmr__column p {
    margin: 2px 0 0;
}

.gmr__post_answer .fa-heart {
    color: white;
    font-size: 20px;
}

.gmr__post_answer .fa-heart:hover {
    color: #FCFD05;
    cursor: pointer;
}

.gmr__comment_button {
    height: 60px;
    background-color: #1A1A1A;
    border: none;
    border-radius: 0 10px 10px 0;
    color: white;
    padding: 0 15px;
}

.gmr__comment_button:hover {
    cursor: pointer;
    color: #FCFD05;
}

.gmr__show_comments_button {
    margin: 25px 0 10px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #1A1A1A;
    border: none;
    color: white;
}

.gmr__show_comments_button:hover {
    cursor: pointer;
    color: #FCFD05;
}

.gmr__list_comments {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s linear, opacity 0.5s linear;
}

.gmr__show_comments {
    overflow-y: scroll;
    max-height: 500px;
    opacity: 1;
}

.gmr__comment {
    color: white;
}

.gmr__comment hr {
    width: 150px;
    margin: 20px auto;
}

.gmr__comment_author {
    text-align: center;
    width: 80px;
    margin: 0 0 10px;
}

.gmr__avatar_and_comment {
    display: flex;
    align-items: center;
}

.gmr__avatar_and_comment img {
    max-height: 80px;
    width: 80px;
    margin-right: 30px;
    object-fit: contain;
}

.gmr__comment_text {
    display: flex;
    align-items: center;
}

.gmr__post_popup {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.gmr__modify_post_popup_content {
    background: #282828;
    width: 550px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.gmr__modify_post_popup_content button {
    background-color: #1A1A1A;
}

.gmr__close_post_popup {
    position: absolute;
    color: white;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.gmr__close_post_popup:hover {
    color: #FCFD05;
}

.gmr__modify_post_popup input, .gmr__modify_post_popup textarea{
    background-color: #1A1A1A;
    min-width: 500px;
    max-width: 500px;
    width: 100%;
    border: none;
    border-radius: 10px;
    resize: none;
    padding: 15px;
    margin: 15px 0;
    color: white;
}

.gmr__modify_post_popup button, .gmr__delete_post_popup button {
    width: fit-content;
    padding: 10px 30px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    color: white;
}

.gmr__modify_post_popup button:hover {
    color: #FCFD05;
    cursor: pointer;
}

.gmr__cancel_button {
    background-color: #1A1A1A;
}

.gmr__delete_post_popup_content {
    background: #282828;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.gmr__delete_post_popup button {
    margin: 10px 10px 0;
}

.gmr__delete_button {
    background-color: #EC4134;
}

.gmr__delete_button:hover {
    background-color: #FF0000;
    cursor: pointer;
}

.gmr__cancel_button:hover {
    color: #FCFD05;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .gmr__main {
        flex-direction: column;
        align-items: center;
    }
    
    .gmr__left_aside {
        position: relative;
        margin-bottom: 30px;
        animation: none;
        left: 0;
    }

    .gmr__create_post {
        animation: none;
        opacity: 1;
    }

    .gmr__post {
        animation: none;
        position: relative;
        right: 0;
    }
}

@media (max-width: 700px) {
    .gmr__main {
        display: block;
    }

    .gmr__left_aside {
        max-width: 100%;
        width: 100%;
    }

    .gmr__main > div:nth-child(2) {
        width: calc(100% - 30px);
    }

    .gmr__create_post {
        width: 100%;
    }

    .gmr__avatar_feed {
        margin: 15px 15px 15px 0;
    }

    .gmr__create_post .gmr__inline:nth-child(1) {
        align-items: center;
    }

    .gmr__create_post .gmr__responsive_column {
        align-items: center;
    }

    .gmr__create_post .gmr__inline:nth-child(1) .gmr__column {
        width: calc(100% - 30px);
        align-items: center;
    }

    .gmr__createpost_textarea, .gmr__post_input_add_image {
        min-width: 0;
        width: 100%;
    }

    .gmr__post_input_add_image {
        width: calc(100% - 30px);
    }

    .gmr__create_post_buttons {
        align-items: start;
        margin: 15px 0;
    }

    .gmr__create_post_buttons > div {
        width: 100%;
    }

    .gmr__publish {
        margin-top: 15px;
    }

    .gmr__post {
        max-width: 100%;
        width: 100%;
    }

    .gmr__list_posts {
        width: 100%;
    }

    .gmr__post_answer {
        align-items: center;
    }

    .gmr__post_textarea {
        min-width: 100px;
        width: calc(100% - 30px);
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .gmr__post_answer > .gmr__responsive_inline {
        margin: 15px 0;
    }

    .gmr__post > .gmr__responsive_column{
        align-items: center;
    }

    .gmr__show_comments_button {
        margin-top: 15px;
    }

    .gmr__update_post button {
        margin: 25px 15px 10px 0;
    }

    .gmr__update_post .fa-trash {
        margin-left: 15px;
    }

    .gmr__post_answer .fa-heart {
        margin: 0 5px;
    }

    .gmr__post_answer form {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .gmr__post_answer form > div {
        width: 100%;
    }

    .gmr__comment_button {
        border-radius: 10px;
    }

    .gmr__avatar_and_comment img {
        max-height: 40px;
        width: 40px;
        margin-right: 15px;
    }

    .gmr__comment_text {
        line-break: anywhere;
    }

    .gmr__modify_post_popup_content, .gmr__delete_post_popup_content {
        width: calc(100% - 60px);
    }

    .gmr__modify_post_popup input, .gmr__modify_post_popup textarea {
        min-width: 250px;
        max-width: 250px;
    }
}
